# Data structures
### (c) Nuno Ant√≥nio 2020-2022 v1.00
Not for sharing. This file is for class hands-on teaching

## Constants

In [27]:
# Integer
print(1)

1

In [28]:
# Decimal or float
print(1.25)

1.25

In [29]:
# Strings use single or double quotes
print("Hello world")
print('Hello world')

Hello world
Hello world

## Variables

In [30]:
# Assign the variable x the value of 10
x = 10

In [31]:
# check x value
x

10

In [32]:
# X (upper case - should return error)
X

20

In [33]:
# Value of x lower case
x

10

In [34]:
# Create a new variable named X upper case (this is not a good practice - Just for you to know)
X = 20

In [35]:
# Value of X
X

20

In [36]:
 # Let's create another variable y and assign it the value of 5
 y = 5

In [37]:
# Check y's value
y

5

In [38]:
# What is the sum of x and y?
x + y

15

In [39]:
# Let's re-assign a new value to x (x = 12)
x = 12

In [40]:
# What is NOW the sum of x and y?
x + y

17

In [41]:
# Let's create a new variable name z with the sum of x and y and check it's value
z = x + y
z

17

In [42]:
# What happens to z if I change the value of x to 14?
x = 14
z

17

In [43]:
# If i want z to be updated I have to redo the sum
z = x + y
z

19

## Expressions

In [51]:
# What is the current value of x?
x

14

In [54]:
# Add 2 to x
x = x + 2
x

16

In [55]:
# Multiply x by 3
x = x * 3
x

48

In [57]:
# Exponentiation
y = 2 * 2 * 2
y

8

In [58]:
# With the POWER operator
y = 2 ** 3
y

8

In [60]:
# Now, a division
y = 23/5
y

4.6

In [63]:
# And what is the remainder of that division?
z = 23%5
z

3

In [64]:
# Remember that for strings the "+" operator is used for concatenation
s1 = "Hello"
s2 = "World"
s3 = s1 + s2
s3

'HelloWorld'

In [66]:
# You can check a variable type by using the function type()
type(x)

int

In [67]:
type(x)

int

In [68]:
# Convert the x to float - see the result is 48 dot zero 
float(x)

48.0

In [69]:
# Check x type
type(x)

int

In [70]:
# It was still "int" because we did not assign it. Let's assign it
x = float(x)

In [71]:
# Check x type
type(x)

float

## Strings

In [72]:
# Create a string
fruit = "banana"

In [73]:
# Get the first letter
fruit[0]

'b'

In [74]:
# Get the second letter
fruit[1]

'a'

In [75]:
# If the index is exceeded an error is returned
fruit[6]

IndexError: string index out of range

In [76]:
# To know the size of a string one can use the "len" function
len(fruit)

6

In [78]:
# A continuous selection of the string
film = "Monty Python's The Life of Brian"

In [81]:
# Get the first five characters - The LAST index is not inclusive 
film[0:5]

'Monty'

In [83]:
# Get the first five characters
film[:5]

'Monty'

In [88]:
# Get everything except the first six characters
film[6:]

"Python's The Life of Brian"

In [89]:
# Get the last five characters
film[len(film)-5:]

'Brian'

In [189]:
# Negative indexs can be used as well
# Instead of being counted from the beginning, is from the end (right)
# The last 5 characters
film[-5:]

'Brian'

In [191]:
# Everything, except the last 5 characters
film[:-5]

"Monty Python's The Life of "

In [193]:
# Combined, positive and negative
film[6:-6]

"Python's The Life of"

In [91]:
# String functions examples
# More info at https://docs.python.org/2.5/lib/string-methods.html

# Transform to lowercase
film.lower()

"monty python's the life of brian"

In [92]:
# Transform to uppercase
film.upper()

"MONTY PYTHON'S THE LIFE OF BRIAN"

In [94]:
# Replace Brian with Paul
film.replace("Brian","Paul")

"Monty Python's The Life of Paul"

## Lists

In [132]:
# A list is a collection of values
friends = ['John', 'Mary', 'Anne', 'Paul']

In [133]:
# Check the type
type(friends)

list

In [134]:
# Create another list
colleagues = ['Peter', 'Martha', 'Louis']

In [135]:
# Create a list of lists
everyone = [friends, colleagues]
everyone

[['John', 'Mary', 'Anne', 'Paul'], ['Peter', 'Martha', 'Louis']]

In [136]:
# Create on list with all names - use concatenation
fullList = friends + colleagues
fullList

['John', 'Mary', 'Anne', 'Paul', 'Peter', 'Martha', 'Louis']

In [137]:
# An empty list
emptyList = []
emptyList

[]

In [138]:
# Accessing the elements in a list

In [139]:
# First element
friends[0]

'John'

In [140]:
# Second element
friends[1]

'Mary'

In [141]:
# QUESTION to students
# If an element is a string, how can I get the fourth character in the second element?
friends[1][3]

'y'

In [142]:
# Elements are mutable
# Changing the first element from John to Roy
friends[0] = "Roy"
friends

['Roy', 'Mary', 'Anne', 'Paul']

In [143]:
# How can we get the length (number of elements in a list)?
len(friends)

4

In [144]:
# QUESTION to students
# What about the lenght of the first element
len(friends[0])

3

In [145]:
# Add one other friend to the end of the list
friends.append("Barbara")
friends

['Roy', 'Mary', 'Anne', 'Paul', 'Barbara']

In [146]:
# Add John as first friend
friends.insert(0, "John")
friends

['John', 'Roy', 'Mary', 'Anne', 'Paul', 'Barbara']

In [147]:
# Remove Barbara
friends.remove("Barbara")
friends

['John', 'Roy', 'Mary', 'Anne', 'Paul']

In [148]:
# Remove Roy by index
friends.pop(1)
friends

['John', 'Mary', 'Anne', 'Paul']

In [149]:
# Sort in ascending order
friends.sort()
friends

['Anne', 'John', 'Mary', 'Paul']

In [150]:
# Sort in descending order
friends.sort(reverse=True)
friends

['Paul', 'Mary', 'John', 'Anne']

In [159]:
# An interesting example - SPLIT function
# Breaks a string into a list
s = "This is a string with seven words"
s

'This is a string with seven words'

In [1]:
# Let's split it
s.split()

NameError: name 's' is not defined

In [3]:
s.split?

Signature: s.split(sep=None, maxsplit=-1)
Docstring:
Return a list of the words in the string, using sep as the delimiter string.

sep
  The delimiter according which to split the string.
  None (the default value) means split according to any whitespace,
  and discard empty strings from the result.
maxsplit
  Maximum number of splits to do.
  -1 (the default value) means no limit.
Type:      builtin_function_or_method

In [151]:
# Let's create a numeric list to test built-in functions
numList = [1, 2, 4, 5, 8, 9]

In [152]:
# Apply numerical functions
# Max
max(numList)

9

In [153]:
# Min
min(numList)

1

In [154]:
# Sum
sum(numList)

29

In [155]:
# Average
sum(numList)/len(numList)

4.833333333333333

## Dictionaries

In [162]:
# Using a dictionary for telephone numbers
phoneDic = {'John':21123456, 'Mary':911234244, 'Martha':123123123}

In [163]:
# What is John's phone number?
phoneDic['John']

21123456

In [164]:
# What about Roy's phone number?
phoneDic['Roy']

KeyError: 'Roy'

In [167]:
# Add a new phone for Roy
phoneDic['Roy'] = 43214321
phoneDic

{'John': 21123456, 'Mary': 911234244, 'Martha': 123123123, 'Roy': 43214321}

In [178]:
# Changing the element "John" (John's phone number)
phoneDic['John'] = 999999999
phoneDic['John']

999999999

In [176]:
# Get a list of keys
list(phoneDic)

['John', 'Mary', 'Martha', 'Roy']

In [179]:
# How to check if a certain key exists
phoneDic.get("Anne")

In [181]:
# Check another key
phoneDic.get("Martha")

123123123

In [183]:
# Get the number of elements (pairs) in the dictionary
len(phoneDic)

4

In [184]:
# Get list of items
phoneDic.items()

dict_items([('John', 999999999), ('Mary', 911234244), ('Martha', 123123123), ('Roy', 43214321)])

In [185]:
# Get list of keys
phoneDic.keys()

dict_keys(['John', 'Mary', 'Martha', 'Roy'])

In [186]:
# Get list of values
phoneDic.values()

dict_values([999999999, 911234244, 123123123, 43214321])

## Tuples

In [205]:
# Lets create a tuple
tuple1 = ('John', 123, 'Mary', 'Sylvia', 456)

In [195]:
# Get second element
tuple1[1]

123

In [196]:
#Try to replace the content of second element
tuple1[1]=987

TypeError: 'tuple' object does not support item assignment

In [201]:
# Tuples can even be used in the left-hand side
(t1, t2, t3) = (2, 3, 1)
t1

2

In [202]:
t2

3

In [208]:
# Get the number of elements a value exists in the tupple
tuple1.count(123)

1

In [210]:
# Index returns the index of a certain value
tuple1.index(456)

4

## Sets

In [215]:
# Let's create two sets
set1 = {'John', 'Roy', 'Maya', 'Anne'}
set2 = {'Martha', 'Anne', 'Paul', 'Louise'}

In [218]:
# Get the third element of set1 - DOES noet work with indexes
set1[2]

TypeError: 'set' object is not subscriptable

In [221]:
# Add an element to set2
set2.add("Mary")
set2

{'Anne', 'Louise', 'Martha', 'Mary', 'Paul'}

In [225]:
# Remove this element from set2
set2.discard("Mary")
set2

{'Anne', 'Louise', 'Martha', 'Paul'}

In [226]:
# Get the intersection of the two sets
set1.intersection(set2)

{'Anne'}

In [227]:
# Get the union of the two sets
set1.union(set2)

{'Anne', 'John', 'Louise', 'Martha', 'Maya', 'Paul', 'Roy'}